@font-face {
  font-family: 'Bebas Neue Momentum';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./woff2/BebasNeueMomentum-Light.woff2) format('woff2');
  unicode-range: U+0000-007E, U+00A1-0149, U+014C-017E, U+01FC-01FF, U+0218-021B,
    U+0237, U+02BC, U+02C6-02C7, U+02D8-02DD, U+0401, U+0410-044F, U+0451;
}
